/* Обнуление стилей */
*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
font-size: inherit;
}

body {
height: 100%;
line-height: 1;
font-size: 16px;
font-family: "Orchidea Pro, Roboto, Manrope";
color: #000;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: content-box;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  min-height: 100px;
  display: flex;
  padding: 35px 262px 29px 262px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, #464341 0%, #010101 100%);
}

.header__phone {
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 33px;
  color: white;
}


/* MAIN */
.main {
  margin-top: 140px;
}

.main__main-block {
}
.main-block {
}
.main-block__container {
}

.content-block {
display: flex;
flex-direction: column;
width: 1588px;
margin-bottom: 160px;
}

.content-block__title {
align-self: center;
  padding-top: 160px;
  padding-bottom: 140px;
  font-family: 'Orchidea Pro';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 110%;
/* or 53px */
text-transform: uppercase;
color: #141414;
}

.content-block__container__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 480px;
  margin-bottom: 100px;
}

.container-left__img {
  width: 860px;
height: 480px;
}
.container-left__abstract {
  width: 600px;
  height: 335px;
}
.container-left__title {
  font-family: 'Orchidea Pro';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 110%;
/* or 53px */
display: flex;
align-items: center;
color: #141414;
}
.container-left__text {
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 130%;
/* or 23px */
display: flex;
align-items: center;
color: #141414;
margin-top: 25px;
}
.content-block__container__right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  height: 411px;
  width: 1323px;
}

.container-right__img {
  width: 599px;
  height: 411px;
}

.container-right__abstract {
  width: 600px;
  height: 335px;
}
.container-right__title {
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  /* or 53px */
  display: flex;
  align-items: center;
  color: #141414;
  padding: 0;
}
.container-right__text {
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 130%;
/* or 23px */
display: flex;
align-items: center;
color: #141414;
margin-top: 25px;
padding: 0;
}

/* FOOTER  */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
background-color: #141414;
}

.footer__text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}

/* ----------------------------------------- */

html, body, section.horizontal {
  overflow-x: hidden;
}

.blanc__content-block__title {
  align-self: center;
  font-family: 'Orchidea Pro';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 110%;
/* or 53px */
text-transform: uppercase;
color: #141414;
}

section h1 {
  margin: 0;
  padding: 0;
}

section p {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}


section.horizontal {
  overflow-x: hidden;
  margin-bottom: 0;
  padding: 0;
  /* margin-left: -260px; */
  /* width: 130%; */
}

section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;  
    height: 488px;
}

section.horizontal .animation-wrap {
  margin-left: 260px;
  margin-right: 0px;
  height: 488px;
}

section.horizontal .item {
  padding-right: 40px;
    position: relative;
    height: 488px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    background-color: transparent;
}

section.horizontal .item:before {
    position: absolute;
    font-size: 100px;
    opacity: .13;
    z-index: -1;
    -webkit-transform: translate(-30px, -50px);
    transform: translate(-30px, -50px);
}

section.horizontal .animation-wrap.to-right {
    counter-reset: item;
    float: left;
    height: 488px;
}

section.horizontal .animation-wrap.to-left {
  /* margin-left: 0px; */
    counter-reset: item 12;
    float: right; 
}

section.horizontal .animation-wrap .item:nth-child(2n+2) {
    align-items: flex-start;
}

section.horizontal .animation-wrap .item:nth-child(4n+4) {
    align-items: flex-end;
}
